/*  Reset base */
* {
  margin: 0;
  padding: 0;
}
/* Logo */
.img-header {
  margin-top: 25px;
  width: 250px;
}
/* Barra superiore con colore e pattern */
header {
  height: 100px;
  background-color: #55a4ff;
  background-image: url(../img/pattern.png);
  background-size: 400px;
}
/* Spaziatura interna e margine dall’header */
main {
  padding-left: 10px;
  margin-top: 10px;
}
/* Font titolo */
.title {
  font-size: 50px;
  font-weight: 700;
}
/* Testo in grigio  */
.color-grey {
  color: rgb(128, 128, 128);
}
/* Link stile Boolean */
.link-boolean {
  text-decoration: none;
  color: #45b5ff;
}
/* Margine superiore standard per elementi */
.mt-20 {
  margin-top: 20px;
}
/* Padding sulla lista */
.list {
  padding-left: 20px;
}
/* Padding orizzontale per le celle della tabella */
.pd-50 {
  padding: 0 50px;
}
/*  spazio tra i bordi delle celle */
table {
  border-collapse: collapse;
}
/* Stile intestazioni tabella */
th {
  text-align: left;
  background-color: #00aeef;
  color: white;
}
/* Sfondo azzurro chiaro per le righe alternate della tabella */
.bdg-light-blue {
  background-color: #bfefff;
}
/* Evidenziazione del testo contenuto in span*/
span {
  background-color: yellow;
}
/* Stile base per i box con immagine di sfondo */
.image-box {
  margin: 10px 0;
  width: 200px;
  height: 180px;
  text-align: center;
  color: white;
}
/* Box con immagine di sfondo "monitor" */
.img-monitor {
  background-image: url(../img/monitor.jpg);
  background-position: center;
}
/* Box con immagine di sfondo "graph" */
.img-graph {
  background-image: url(../img/graph.jpg);
  background-position: center;
}
