* {
  margin: 0;
  padding: 0;
}

header img {
  margin-top: 25px;
  width: 250px;
}

header {
  height: 100px;
  background-color: #55a4ff;
  background-image: url(../img/pattern.png);
  background-size: 400px;
}
